/* Input Styles */

input, textarea {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--input-border-color);
    box-shadow: inset 0 1px 3px var(--input-box-shadow-color);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

input:invalid.ng-invalid.ng-touched {
    border: 1px solid var(--warn-color);
}  