/* List Styles */

.list {
    position: absolute;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    list-style: none;
    margin: 0;
    bottom: 0;
    width: 100%;
    right: 0;
}